/* PC */
@media (min-width: 1024px) {
    
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    
}
/* Tablet & Mobile */
@media (max-width: 1023px) {
    
}
/* Mobile */
@media (max-width: 767px) {
    .header {
        overflow:hidden;
    }
    .nav .subnav {
        position: static;
    }
    .nav {
        flex-flow: column nowrap;
        display: block;
    }
    .nav .subnav li {
        background-color: var(--black-color);
    }
    .nav .subnav li a {
        color: var(--white-color);
        padding: 12px 48px;
    }
    .search {
        display: none;
    }
    .mobile-menu {
        display: inline-block;
    }
    .content__the-band__mem {
        flex-direction: column;
        padding-top: 32px;
    }
    .content__the-band__mem__img {
        width: 60%;
    }
    .tour-place {
        flex-flow: column nowrap;
    }
    .place-item {
        margin-bottom: 16px;
    }
    .contact-info-wrapper {
        flex-direction: column;
    }
    .contact-form {
        margin-top: 16px;
    }
    .contact-form > div:first-child {
        flex-direction: column;
    }
}