/* Reset CSS */
html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
:root {
    --blur-color: #757575;
    --black-color: #000;
    --white-color: #fff
}
/* Common */
.header.on {
    height: auto;
}
.spacer {
    visibility: hidden;
    height: 1px;
}
.text-center {
    text-align: center;
}
.row {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
}
.col {
    padding-left: 8px;
    padding-right: 8px;
}
.col-1 {
    flex-basis: 100%;
}
.col-2 {
    flex-basis: 50%;
}
.col-3 {
    flex-basis: 33.33333%;
}
#app {

}

.header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: var(--black-color);
}
.nav {
    display: inline-flex;
    position: relative;
}
.nav > li {
    list-style-type: none;
    position: relative;
} 
.nav > li:first-child {
    display: inline-block;
}
.nav > li > a {
    color: var(--white-color);
    text-decoration: none;
    display: block;
    padding: 14px 24px;
    text-transform: uppercase;
    font-weight: 450;
}
.nav > li:hover > a {
    background-color: #ccc;
    color: var(--black-color);
}
.nav > li:hover .subnav {
    display: block;
}
.nav .subnav {
    display: none;
    background-color: var(--white-color);
    box-shadow: 0px 0px 6px #ccc;
    position: absolute;
}
ul.nav > li .subnav.on {
    display: block;
}
.nav .subnav li {
    /* border-bottom: 1px solid; */
}
.nav .subnav li:hover {
    background-color: #ccc;
}
.nav .subnav li a {
    color: var(--black-color);
    text-decoration: none;
    display: block;
    padding: 12px 24px;
}
.search,
.mobile-menu {
    display: inline-block;
    float: right;
    height: 46px;
    cursor: pointer;
}
.mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.mobile-menu__icon {
    font-size: 1.2rem;
}
.mobile-menu:hover {
    background-color: #CCC;
}
.mobile-menu:hover .mobile-menu__icon {
    color: var(--black-color);
}
.search__icon,
.mobile-menu__icon {
    color: var(--white-color);
    line-height: 46px;
    padding: 0 20px;
}
.search:hover {
    background-color: #f44336;
}
.slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background-color: #ccc;
    background-image: url('/assets/img/slider/chicago.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}
.slider__text {
    position: absolute;
    bottom: 48px;
    width: 100%;
    color: var(--white-color);
    text-align: center;
}
.slider__text__header {
    margin: 10px 0;
    font-size: 24px;
}
.slider__text__des {
    margin: 15px 0;
    font-size: 15px;
    font-weight: 500;
}
.content {

}
/* Content includes 3 parts, we will do it sequencially */
/* The band section */
/* The below is the common between 3 parts*/
.content__wrapper {
    padding: 0 16px;
}
.content__wrapper > div {
    width: 800px;
    max-width: 100%;
    margin: 0px auto;
    padding: 64px 0 110px;
    
}
.content__wrapper__header {
    text-transform: uppercase;
    letter-spacing:4px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-top: 10px;
}
.content__wrapper__slogan {
    text-align: center;
    font-style: italic;
    margin-top: 25px;
    font-size: 15px;
    opacity: 0.6;
}
/* For only part 1 - the band */
.content__the-band__des {
    margin: 15px 0;
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
}
.content__the-band__mem__name {
    margin: 15px 0;
}
.content__the-band__mem__img {
    width: 154px;
    max-width: 100%;
    margin-bottom: 16px;
    border-radius: 4px;
}
/* Tour date section */
.content__tour-dates {
    background-color: var(--black-color);
}
.content__tour-dates > div {
    padding: 64px 0 110px;
}
.content__tour-dates .content__wrapper__header, 
.content__tour-dates .content__wrapper__slogan {
    color: var(--white-color);
}
.ticket-section {
    margin-top: 40px;
}
.ticket-section li {
    color: var(--blur-color);
    padding: 8px 16px;
    background-color: var(--white-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.ticket-section__label {
    display: inline-block;
    background-color: #f44336;
    padding: 0 8px;
    line-height: 1.5;
    margin-left: 16px;
}
.ticket-section__label::after {
    content: "Sold out";
    color: var(--white-color);
}
.ticket-section__icon {
    background-color: var(--black-color);
    border-radius: 100%;
    color: var(--white-color);
    padding: 2px 8px;
    float: right;
    margin-right: 10px;
}
.tour-place {
    margin-top: 32px;
}
.tour-place > li {
    /* padding: 0 8px; */
}
.tour-place > li > div {
    background-color: var(--white-color);
}
.tour-place__image {
    max-width: 100%;
}
.tour-place__image:hover {
    filter: brightness(70%);
}
.tour-place__info {
    padding: 16px 16px;
}
.tour-place__info__header,
.tour-place__info__date,
.tour-place__info__des {
    margin-bottom: 15px;
}
.tour-place__info__date {
    color: var(--blur-color);
}
.btn {
    background-color: var(--black-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 8px 16px; 
}
.btn:hover {
    background-color: #ccc;
    color: var(--black-color);
}
.contact {

}
.contact-info-wrapper {
    margin-top: 32px;
}
.contact-list {
    font-weight: 500;
}
.contact-list > li {
    margin-bottom: 6px;
}
.contact-list__detail {
    display: inline-block;
    margin-left: 10px;
}
.contact-form {
    /* flex: 1; */
}
.contact-form input {
    width: 100%;
}

.contact-form__input-msg {
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}
[class*="contact-form__input-"] {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font: inherit;
}
.contact-form__btn {
    margin-top: 6px;
    float: right;
}
/* Footer */
.footer {
    background-color: #f1f1f1;
}
.footer__image {
    background-image: url(/assets/img/footer/bandmember.jpg);
    padding-top: 56.28%;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer__social-media {
    padding: 64px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.social-media__list {
    display: inline-flex;
}
.social-media__list li {
    margin-right: 6px;
}
.social-media__list li a {
    text-decoration: none;
    color: gray;
}
.social-media__list li a i {
    font-size: 1.2rem;
}
.social-media__list li a i:hover,
.powered a:hover {
    opacity: 0.6;
}
.powered { 
    margin: 15px 0;
    color: gray;
}