        <footer class="footer">
            <div class="footer__wrapper">
                <ul class="footer__wrapper__social-media">
                    <li class="footer__wrapper__social-media__item">
                        <a href="#" class="footer__wrapper__social-media__link">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="footer__wrapper__social-media__item">
                        <a href="#" class="footer__wrapper__social-media__link">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="footer__wrapper__social-media__item">
                        <a href="#" class="footer__wrapper__social-media__link">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>

                <ul class="footer__wrapper__terms">
                    <li class="footer__wrapper__terms__item">
                        <a href="" class="footer__wrapper__terms__item__link">Info</a>
                    </li>
                    <li class="footer__wrapper__terms__item">
                        <a href="" class="footer__wrapper__terms__item__link">Support</a>
                    </li>
                    <li class="footer__wrapper__terms__item">
                        <a href="" class="footer__wrapper__terms__item__link">Terms of Use</a>
                    </li>
                    <li class="footer__wrapper__terms__item">
                        <a href="" class="footer__wrapper__terms__item__link">Privacy Policy</a>
                    </li>
                    <li class="footer__wrapper__terms__item">
                        <a href="" class="footer__wrapper__terms__item__link">Games</a>
                    </li>
                    <li class="footer__wrapper__terms__item">
                        <span class="footer__wrapper__terms__item__copyright">&copy;2020 Congtrinhh</span>
                    </li>
                </ul>

            </div>
        </footer>
